* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.header_wrapper {
    background-color: #1d2d3c;
    display: flex;
    width: 100vw;
    margin: auto;
    height: 100px;
}

.item {
    flex-grow: 1;
}

.logo_wrapper {
    display: flex;
}

.logo_wrapper .logo {
    background-image: url(logo.jpg);
    width: 168px;
}

.red_cert {
    background-image: url(red.png);
    width: 52px;
}

.green_cert {
    background-image: url(green.png);
    width: 52px;
}

.yellow_cert {
    background-image: url(yellow.png);
    width: 52px;
}

.login_wrapper {
    display: flex;
    padding-top: 25px;
    justify-content: center;
}

.login_wrapper a {
    text-decoration: none;
    color: white;
}

.login_wrapper .login_logo {
    background-image: url(forcast.png);
    width: 50px;
    height: 50px;
}

.login_wrapper .login_text {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.4em;
    padding-top: 10px;
}

.header_links ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 39px;
}

.header_links ul li {
    margin-right: 30px;
}

.header_links ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 300;
    color: white;
}

.header_links ul li a:hover {
    color: #efca3b;
}

.top_text {
    text-align: center;
    font-size: 55px;
    text-transform: uppercase;
    padding-top: 200px;
    font-weight: 600;
    color: white;
}

#about_wrapper {
    background: white;
    margin-top: 500px;
}

.text_header {
    text-align: center;
    color: #c8c8c8;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
    padding-top: 38px;
}

.heading_line {
    height: 10px;
    background-color: #efca3b;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    margin-bottom: 38px;
}

.about_heading_line {
    width: 130px;
}

.center {
    width: 100%;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.text {
    color: #5a5959;
    margin-bottom: 30px;
    word-spacing: 0.1rem;
    line-height: 1.8;
}

.services_heading_line {
    width: 180px;
}

.services_wrapper {
    display: grid;
    /* 3 columns, each taking equal space */
    grid-template-columns: repeat(3, 1fr);
    /* 3 rows, each taking equal space */
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.services_wrapper .services_wrapper_inner {
    height: 300px;
    width: 290px;
}

.services_wrapper_inner div:last-child {
    background-color: #f7f7f7;
    height: 80px;
    text-align: center;
    color: #4c516f;
    font-size: 1.3em;
    padding-top: 26px;
    font-weight: 600;
}

.services_wrapper_inner div:first-child {
    height: 220px;
}

.service_1 {
    background-image: url(service1.jpg);
}

.service_2 {
    background-image: url(service2.jpg);
}

.service_3 {
    background-image: url(service3.jpg);
}

.service_4 {
    background-image: url(service4.jpg);
}

.service_5 {
    background-image: url(service5.jpg);
}

.service_6 {
    background-image: url(service6.jpg);
}

.service_7 {
    background-image: url(service7.jpg);
}

.service_8 {
    background-image: url(service8.jpg);
}

.service_9 {
    background-image: url(service9.jpg);
}

.qa_heading_line {
    width: 320px;
}

.qa_wrapper {
    display: flex;
}

.qa_text {
    width: 52%;
    padding-right: 20px;
}

.qa_pdf_wrapper {
    width: 48%;
    display: flex;
}

.qa_pdf_wrapper div>div {
    height: 316px;
    width: 144px;
    margin-right: 2px;
}

.red_large_cert {
    background-image: url(red_large.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.green_large_cert {
    background-image: url(green_large.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.yellow_large_cert {
    background-image: url(yellow_large.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.contact_heading_line {
    width: 180px;
}

.contact_icon {
    height: 50px;
}

.contact_links svg {
    margin-right: 25px;
}

.contact_links div {
    margin-bottom: 10px;
}

.contact_links a {
    text-decoration: none;
    color: black;
}

.contact_links a:hover {
    color: #efca3b;
}

.footer {
    height: 100px;
}

.email {
    margin-top: 30px;
}

.email input, .email textarea {
    width: 500px;
    padding: 5px;
    margin-bottom: 10px;
}

.email_button {
    border: none;
    background-color: #efca3b;
    color: white; 
    font-size: 1em;
    cursor: pointer;
}